<section class="tidy-table " data-tidy-sheet-part="item-table" data-tidy-section-key="attunements">
  <header class="tidy-table-header-row theme-dark" data-tidy-sheet-part="table-header-row">
    <div class="tidy-table-header-cell header-label-cell primary" data-tidy-sheet-part="table-header-cell">
      <span style="width: 0.5rem;"></span>
      <h3>{{localize "EMBER.ATTUNEMENT.Attunement"}}</h3>
    </div>
    <div class="tidy-table-header-cell" data-tidy-sheet-part="table-header-cell"
      style="--tidy-table-column-width: 28rem;">
      {{localize "EMBER.ATTUNEMENT.Progress"}}
    </div>
    <div class="tidy-table-header-cell" data-tidy-sheet-part="table-header-cell"
      style="--tidy-table-column-width: 4rem;">
    </div>
  </header>
  <div role="presentation" class="expandable expanded">
    <div class="item-table-body">
      {{#each attunements as |attunement id|}}
      <div class="tidy-table-row-container attunement {{attunement.identifier}}" data-attunement="{{id}}">
        <div class="tidy-table-row tidy-table-row-v2">
          <span class="tidy-table-row-use-button disabled">
            <img class="item-image" src="{{attunement.icon}}" alt="{{attunement.name}}">
          </span>
          <div class="tidy-table-cell item-label text-cell primary" data-tidy-sheet-part="table-cell">
            <div class="item-name">
              <span class="cell-text">
                <span class="cell-name"> {{attunement.name}} </span>
                <span class="cell-context"> {{localize "EMBER.ATTUNEMENT.Rank"}} {{attunement.rank}} </span>
              </span>
            </div>
          </div>
          <div class="tidy-table-cell bar-cell" data-tidy-sheet-part="table-cell"
            style="--tidy-table-column-width: 28rem;">
            <span data-tooltip aria-label="{{localize 'EMBER.ATTUNEMENT.CurrentTooltip'}}">
              {{attunement.current}}
            </span>
            <div class="meter progress attunement-bar" role="meter" aria-valuemin="0"
              aria-valuenow="{{attunement.current}}" aria-valuetext="{{attunement.current}}"
              aria-valuemax="{{attunement.end}}" style="--bar-percentage: {{attunement.widthPct}};
              --bar-background: {{attunement.color.css}};
              --bar-behind-color: {{attunement.backgroundColor.css}};
              --bar-end-border-width: 0;">
            </div>
            <span data-tooltip aria-label="{{localize 'EMBER.ATTUNEMENT.NextTooltip'}}">
              {{attunement.end}}
            </span>
          </div>
          <div class="tidy-table-cell" data-tidy-sheet-part="table-cell" style="--tidy-table-column-width: 4rem;">
            {{#if ../canModifyAttunement}}
            <button type="button" class="icon fa-solid fa-arrow-down" data-action="attunementDecrease" {{disabled attunement.cannotDecrease}}></button>
            <button type="button" class="icon fa-solid fa-arrow-up" data-action="attunementIncrease"></button>
            {{/if}}
          </div>

        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>